.git
.github
.vscode
.idea

node_modules
vendor

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

.env
.env.*

public/build

*.sqlite*
*.bak*

phpunit.xml
.phpunit.result.cache
